<!DOCTYPE html>
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700|Crimson|Colaborate" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="css/fresh.css">
		<link rel="stylesheet" type="text/css" href="css/fonts.css">

		<script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=thecrimson" type="text/javascript"></script>
		<script src="js/jquery-csv.min.js"></script>
		<script src="js/jquery.affix.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.tabs.js" type="text/javascript" charset="utf-8"></script>

		<script src="js/highcharts.js"></script>
		<script src="js/highcharts-more.js"></script>
		<script src="js/raphael.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/debounce.js" type="text/javascript" charset="utf-8"></script>

		{% block js %}{% endblock %}
	</head>

	<body>
		<header>
			<div class="wrapper">
				<a class="header-logo" href="/">
					<img src="img/logo.png" height="18" width="215" />
				</a>
				<ul class="header-nav">
                    <a href="makeup.html"><li{% if filename=='makeup.html' %} class="active"{% endif %}>Makeup of the Class</li></a>
                    <a href="admissions.html"><li{% if filename=='admissions.html' %} class="active"{% endif %}>Admissions</li></a>
                    <a href="academics.html"><li{% if filename=='academics.html' %} class="active"{% endif %}>Academics/Extracuriculars</li></a>
                    <a href="#"><li>Lifestyle</li{% if filename=='#.html' %} class="active"{% endif %}></a>
				</ul>
			</div>
		</header>

		<img class="full-width" src='img/cover.jpg'>

		<div class="wrapper">
			<div id="subnav">
				<ul>
                    {% block nav_items %}{% endblock %}
				</ul>
			</div>
			<div id="main">
                {% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>
