{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/charts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block nav_items %}
    <li>In High School</li>
    <li>At Harvard</li>
    <li>Athletics</li>
{% endblock %}

{% block content %}
    <div class="intro scroll-row">
        <div id="subhead">Makeup of the Class</div>
        <p>Scroll through the graphs and charts below for a visual representation of the Class of 2017.</p>
        <p>The data was collected in an email survey conducted by The Crimson during the month of August. Nearly 80 percent of the class responded (though not all of them finished the survey).</p>
        <p>Our presentation of the data assumes a random sampling and therefore discounts any selection bias that may exist.</p>
        <p>Read Part I of The Crimson's four-part series on the freshman survey <a href="http://www.thecrimson.com/article/2013/9/3/freshmen-employment-demographics-geography">here</a>.</p>
    </div>

    <div class="scroll-row">
        <h1>In High School</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#study-habits-past-tab" data-toggle="tab">Study Habits</a>
            </li>
            <li>
                <a href="#math-level-tab" data-toggle="tab">Level of Math</a>
            </li>
            <li>
                <a href="#extracurriculars-tab" data-toggle="tab">Extracurriculars</a>
            </li>
            <li>
                <a href="#leadership-tab" data-toggle="tab">Leadership</a>
            </li>
            <li>
                <a href="#government-tab" data-toggle="tab">Sexual Orientation</a>
            </li>
            <li>
                <a href="#math-school-type-tab" data-toggle="tab">Math by School Type</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="study-habits-past-tab" class="active">
                <h2>High School Study Habits</h2>
                <div id="study-habits-past"></div>
                <p>Thirty-one percent of respondents studied for 10 or fewer hours a week in high school; 2 percent studied for 50 or more. A plurality of respondents expect to study between 20 and 29 hours a week in college, however.</p>
            </li>
            <li id="math-level-tab">
                <h2>Level of Math</h2>
                <div id="math-level" class="graph"></div>
                <p>Forty-two percent of respondents had taken up to BC Calculus, and 32 percent up to AB Calculus. At the College, incoming freshmen are given suggestions for which math level to take based both on an online placement exam and the highest level of math they took in high school.</p>
            </li>
            <li id="extracurriculars-tab">
                <h2>High School Extracurriculars</h2>
                <div id="extracurriculars"></div>
                <p>Recruited athletes represent 12 percent of the Class of 2017, and among non-recruited students, nine percent plan to walk on to a varsity team. Harvard does not offer athletic scholarships to its recruited athletes or give out merit scholarships of any kind.</p>
            </li>
            <li id="leadership-tab">
                <h2>High School Extracurricular Leadership</h2>
                <div id="leadership" class="graph"></div>
                <p>More students were the president or top leader of zero clubs in high school than six or more. At Harvard, a <a href="http://www.thecrimson.com/article/2013/3/7/gender-skew-report-uc/">College survey</a> found last spring that more than half of student organizations have leadership that is skewed toward a single gender.</p>
            </li>
            <li id="government-tab">
                <h2>Belief in Power of Student Government</h2>
                <div id="government"></div>
                <p>The survey found that a majority of respondents believe that student government has the power to effect change, and the percentage was higher for those who had been involved in student government in high school. Thirty-seven percent of respondents had been [NEED TO FINISH THIS].</p>
            </li>
            <li id="math-school-type-tab">
                <h2>Level of Math by Type of High School</h2>
                <div id="math-school-type"></div>
                <p>A plurality of students from public high schools have taken up to BC Calculus. Four percent of all respondents had taken a math level past multivariable calculus/linear algebra; of that 4 percent, 58 percent attended public, non-charter school and 24 percent a non-denominational private school.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_ATF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_ATF_300x250'); });
        </script>
    </div>

    <div class="scroll-row" id="regions">
        <h1>At Harvard</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#study-habits-future-tab" data-toggle="tab">Study Habits</a>
            </li>
            <li>
                <a href="#secondary-tab" data-toggle="tab">Secondary/Citation</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="study-habits-future-tab">
                <div id="study-habits-future"></div>
                <h2>Anticipated College Study Habits</h2>
                <p>A plurality of respondents indicated that they anticipate studying for between 20 and 29 hours a week in college, and more respondents expect to study 50 or more than 10 or fewer. In contrast, a plurality said they spent fewer than 10 hours a week studying in high school.</p>
            </li>
            <li id="secondary-tab">
                <h2>Anticipated Secondaries and Language Citations</h2>
                <div id="secondary"></div>
                <p>Twenty-three percent of respondents intend to pursue both a secondary and a language citation at Harvard, and twenty-eight percent plan to pursue neither.</p>
            </li>
            <li id="concentration-raw-tab">
                <h2>Anticipated Concentrations</h2>
                <div id="concentration-raw"></div>
                <p>Just 11 percent of respondents said that they plan to pursue a concentration in the arts and humanities field. Sixteen percent of the College students concentrate in the humanities, and several months ago, a faculty committee released several reports on the discipline.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_BTF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_BTF_300x250'); });
        </script>
    </div>

    <div class="scroll-row" id="salary">
        <h1>Athletics</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#starting-salary-tab" data-toggle="tab">Starting Salary</a>
            </li>
            <li>
                <a href="#starting-salary-vs-gender-tab" data-toggle="tab">Starting Salary by Gender</a>
            </li>
            <li>
                <a href="#sector-start-over-time-tab" data-toggle="tab">Field</a>
            </li>
            <li>
                <a href="#sector-start-by-gender-tab" data-toggle="tab">Field by Gender</a>
            </li>
            <li>
                <a href="#sector-start-by-school-type-tab" data-toggle="tab">Field by Secondary School</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="starting-salary-tab" class="active">
                <h2>Anticipated Starting Salary</h2>
                <div id="starting-salary"></div>
                <p>Half of the Class of 2017 expects to earn a starting salary of between $50,000 and $90,000 right after graduation. The majority of the remaining half expects salaries below $50,000 that first year.</p>
            </li>
            <li id="starting-salary-vs-gender-tab">
                <h2>Anticipated Starting Salary by Gender</h2>
                <div id="starting-salary-vs-gender" class="graph"></div>
                <p>Surveyed male freshmen anticipate a significantly higher starting salary than their female counterparts across income brackets.</p>
                <p>At the lower end, 13 percent of women and 6 percent of men said they anticipate making less than $30,000 immediately after graduation. In comparison, 10 percent of female graduating seniors and 9 percent of male graduating seniors surveyed by The Crimson last spring reported a starting salary below $30,000.</p>
                <p>At the upper end, three percent of female freshman respondents and nine percent of male freshman respondents said they anticipate earning more than $110,000 immediately after graduation. In the Class of 2013, 2 percent of females and 8 percent of males reported a starting salary in that income bracket.</p>
            </li>
            <li id="sector-start-over-time-tab">
                <h2>Comparison of Anticipated Employment Field in 2017 and 2027</h2>
                <div id="sector-start-over-time" class="graph"></div>
                <p>Many surveyed freshmen said they expect their immediate post-graduate job to be different from their career 10 years down the line. For example, while just 6 percent of surveyed freshmen said they plan to work in the health field right after graduation, nearly a quarter of them said they anticipate doing so in 2027.</p>
            </li>
            <li id="sector-start-by-gender-tab">
                <h2>Anticipated Employment Field by Gender</h2>
                <div id="sector-start-by-gender" class="graph"></div>
                <p>Surveyed female freshmen are less likely than their male counterparts to see themselves in a career related to entrepreneurship or finance. They were more likely than freshmen men to envision themselves in a career in nonprofits and public service, health, and media or publishing.</p>
            </li>
            <li id="sector-start-by-school-type-tab">
                <h2>Anticipated Career by Secondary School Type</h2>
                <div id="sector-start-by-school-type" class="graph"></div>
                <p>Surveyed freshmen who attended public high school were more likely than their public counterparts to say they plan to pursue a long-term career in education. Private school students, on the other hand, disproportionately reported interest in careers in business, finance, and arts, sports, or entertainment.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_BTF_728x90" class="leaderboard ad">
        <script type='text/javascript'>
            if ($(window).width >= 728) {
                googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_BTF_728x90'); });
            }
        </script>
    </div>
{% endblock %}
