{% extends 'jinja2/_base.html.jinja2' %}

{% block content %}
	<div class="intro landing">
	    <div id="subhead">The Freshman Class</div>
	    <p>Scroll through the graphs and charts on the following pages for a visual representation of the Class of 2017.</p>
	    <p>The data was collected in an email survey conducted by The Crimson during the month of August. Nearly 80 percent of the class responded (though not all of them finished the survey).</p>
	    <p>Our presentation of the data assumes a random sampling and therefore discounts any selection bias that may exist.</p>
	</div>

	<div class="landing">
		<div class="survey-section">
			<img src="img/makeup1.jpeg">
			<img src="img/makeup2.jpeg">
		</div>
		<div class="survey-section">
			<img src="img/ad1.jpeg">
			<img src="img/ad2.jpeg">
		</div>
		<div class="survey-section">
			<img src="img/ac1.jpeg">
			<img src="img/ac2.jpeg">
		</div>
		<div class="survey-section">
			<img src="img/sex1.jpeg">
			<img src="img/sex2.jpeg">
		</div>
	</div>

{% endblock %}