{% extends 'jinja2/_base.html.jinja2' %}

{% block content %}

<div class="intro scroll-row">
    <div id="subhead">The Freshman Class</div>
    <p>Part III of The Crimson&#39;s survey of the Class of 2017 looks at incoming freshmen&#39;s academic and extracurricular lives&mdash;and how they prioritize the two. The survey of more than 1,300 members of the freshman class sheds light on what these students did in high school and what they plan to do in college. Some of them admitted to cheating, others said they have been concussed, and nearly all of them say they expect to make academics their top priority at Harvard. This and other data on their experiences and plans in the classroom, in clubs, and on the playing field reveals a group defined by both their similarities and their differences.</p>
    <p>Read Part III of The Crimson's four-part series on the freshman survey <a href="http://www.thecrimson.com/article/2013/9/5/freshman-survey-academics-extracurriculars/">here</a>.</p>
</div>

{% endblock %}