{% extends 'jinja2/_base.html.jinja2' %}

{% block js %}
    <script src="js/regions.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/charts.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/classmakeup.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/scroll.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block nav_items %}
    <li>Demographics</li>
    <li>Geography</li>
    <li>Employment</li>
{% endblock %}

{% block content %}
    <div class="intro scroll-row">
        <div id="subhead">Makeup of the Class</div>
        <p>Scroll through the graphs and charts below for a visual representation of the Class of 2017.</p>
        <p>The data was collected in an email survey conducted by The Crimson during the month of August. Nearly 80 percent of the class responded (though not all of them finished the survey).</p>
        <p>Our presentation of the data assumes a random sampling and therefore discounts any selection bias that may exist.</p>
        <p>Read Part I of The Crimson's four-part series on the freshman survey <a href="http://www.thecrimson.com/article/2013/9/3/freshmen-employment-demographics-geography">here</a>.</p>
    </div>

    <div class="scroll-row">
        <h1>Demographics</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#gender-tab" data-toggle="tab">Gender</a>
            </li>
            <li>
                <a href="#race-tab" data-toggle="tab">Ethnicity</a>
            </li>
            <li>
                <a href="#athletics-tab" data-toggle="tab">Athletes</a>
            </li>
            <li>
                <a href="#athletes-vs-race-tab" data-toggle="tab">Athletes Ethnicity</a>
            </li>
            <li>
                <a href="#sexuality-tab" data-toggle="tab">Sexual Orientation</a>
            </li>
            <li>
                <a href="#birth-order-tab" data-toggle="tab">Birth Order</a>
            </li>
            <li>
                <a href="#school-type-tab" data-toggle="tab">Secondary School</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="gender-tab" class="active">
                <h2>Gender</h2>
                <div id="gender"></div>
                <p>Respondents were evenly split between men and women, with one respondent identifying their gender as other. The College announced last spring that 53.4 percent of the admitted Class of 2017 was male, a slight discrepancy that the press release attributed to a higher number of male applicants than female applicants.</p>
            </li>
            <li id="race-tab">
                <h2>Ethnicity</h2>
                <div id="race" class="graph"></div>
                <p>In descending order, the ethnicities most represented in the Class of 2017 are white, Asian, Latino, African-American, Indian, Native American, and Pacific Islander. The College reported last spring that the admitted Class of 2017 is 19.9 percent Asian-American, 11.5 percent African-American, 11.5 percent Latino, 2.2 percent Native American, and 0.5 Native Hawaiian.</p>
            </li>
            <li id="athletics-tab">
                <h2>Athletics</h2>
                <div id="athletes-raw"></div>
                <p>Recruited athletes represent 12 percent of the Class of 2017, and among non-recruited students, nine percent plan to walk on to a varsity team. Harvard does not offer athletic scholarships to its recruited athletes or give out merit scholarships of any kind.</p>
            </li>
            <li id="athletes-vs-race-tab">
                <h2>Recruited Athletes by Ethnicity</h2>
                <div id="athletes-vs-race" class="graph"></div>
                <p>Students of white or African-American ethnicities are overrepresented among recruited athletes. While white students make up 62 percent of the freshman student body, according to the survey, they make up 79 percent of freshman recruited athletes. On the other hand, recruited athletes of Asian descent are an underrepresented demographic. While Asian students constitute 25 percent of the freshman population, they make up just 13 percent of recruited athletes in the freshman class.</p>
            </li>
            <li id="sexuality-tab">
                <div id="sexuality">
                    <h2>Sexuality</h2>
                    <div id="sexual-orientation"></div>
                    <p>Eleven percent of the incoming freshman class identified as non-heterosexual. In comparison, 16 percent of male graduating seniors and 13 percent of female graduating seniors surveyed by The Crimson last spring said they identified as non-heterosexual.</p>
                </div>
            </li>
            <li id="birth-order-tab">
                <h2>Birth Order</h2>
                <div id="birth-order"></div>
                <p>Oldest children constitute 38 percent of the incoming freshman class&mdash;the most represented birth order category. Youngest children came next at 30 percent, and middle children and only children each made up 16 percent of the class.</p>
            </li>
            <li id="school-type-tab">
                <h2>Secondary School</h2>
                <div id="school-type"></div>
                <p>Sixty-one percent of surveyed freshmen said they attended a public high school, with the overwhelming majority of them at a non-charter school. Thirty-eight percent said they went to a private secondary school, with three quarters of those respondents saying they attended a non-denominational private school.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_ATF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_ATF_300x250'); });
        </script>
    </div>

    <div class="scroll-row" id="regions">
        <h1>Geography</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#regions-outer" data-toggle="tab">Demographics</a>
            </li>
            <li>
                <a href="#urbanity-tab" data-toggle="tab">Community Type</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="regions-outer" class="clearfix active">
                <div id="regions-inner">
                    <div id="paper">
                        <p>Forty-one percent of incoming freshmen come from the Northeast, with Westerners, Midwesterners, Southeasterners, and Southwesterners following in descending order. An additional 11 percent of surveyed freshmen hail from abroad.</p>
                    </div>
                    <div id="regions-right">
                        <h2>Mouseover region to see data.</h2>
                        <div id="northeast" class="region">
                            <h3>
                                <div class="region-stat">41.1%</div>
                                of students are from the Northeast.
                            </h3>
                            <h3>
                                <div class="region-stat">73.4%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">88.7%</div>
                                of students from the Northeast will return after graduating.
                            </h3>
                        </div>
                        <div id="southeast" class="region">
                            <h3>
                                <div class="region-stat">11.7%</div>
                                of students are from the Southeast.
                            </h3>
                            <h3>
                                <div class="region-stat">2.5%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">12.2%</div>
                                of students from the Southeast will return after graduating.
                            </h3>
                        </div>
                        <div id="midwest" class="region">
                            <h3>
                                <div class="region-stat">7.8%</div>
                                of students are from the Southwest.
                            </h3>
                            <h3>
                                <div class="region-stat">1.3%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">10.0%</div>
                                of students from the Southwest will return after graduating.
                            </h3>
                        </div>
                        <div id="southwest" class="region">
                            <h3>
                                <div class="region-stat">13.8%</div>
                                of students are from the Midwest.
                            </h3>
                            <h3>
                                <div class="region-stat">2.6%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">18.6%</div>
                                of students from the Midwest will return after graduating.
                            </h3>
                        </div>
                        <div id="west" class="region">
                            <h3>
                                <div class="region-stat">14.5%</div>
                                of students are from the West.
                            </h3>
                            <h3>
                                <div class="region-stat">10.7%</div>
                                of students plan to live there after college.
                            </h3>
                            <h3>
                                <div class="region-stat">42.2%</div>
                                of students from the West will return after graduating.
                            </h3>
                        </div>                              
                    </div>                              
                </div>
            </li>
            <li id="urbanity-tab">
                <h2>Community Type</h2>
                <div id="urbanity"></div>
                <p>Sixty-five percent of surveyed freshmen come from a suburban community, with urban and rural residents following at 27 and 8 percent, respectively. In comparison, 71 percent of Americans surveyed in the 2010 U.S. census reported that they live in cities, 10 percent in suburbs, and 19 percent in rural regions.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_BTF_300x250" class="box ad">
        <script type='text/javascript'>
            googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_BTF_300x250'); });
        </script>
    </div>

    <div class="scroll-row" id="salary">
        <h1>Employment</h1>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#starting-salary-tab" data-toggle="tab">Starting Salary</a>
            </li>
            <li>
                <a href="#starting-salary-vs-gender-tab" data-toggle="tab">Starting Salary by Gender</a>
            </li>
            <li>
                <a href="#sector-start-over-time-tab" data-toggle="tab">Field</a>
            </li>
            <li>
                <a href="#sector-start-by-gender-tab" data-toggle="tab">Field by Gender</a>
            </li>
            <li>
                <a href="#sector-start-by-school-type-tab" data-toggle="tab">Field by Secondary School</a>
            </li>
        </ul>
        <ul class="tab-panes">
            <li id="starting-salary-tab" class="active">
                <h2>Anticipated Starting Salary</h2>
                <div id="starting-salary"></div>
                <p>Half of the Class of 2017 expects to earn a starting salary of between $50,000 and $90,000 right after graduation. The majority of the remaining half expects salaries below $50,000 that first year.</p>
            </li>
            <li id="starting-salary-vs-gender-tab">
                <h2>Anticipated Starting Salary by Gender</h2>
                <div id="starting-salary-vs-gender" class="graph"></div>
                <p>Surveyed male freshmen anticipate a significantly higher starting salary than their female counterparts across income brackets.</p>
                <p>At the lower end, 13 percent of women and 6 percent of men said they anticipate making less than $30,000 immediately after graduation. In comparison, 10 percent of female graduating seniors and 9 percent of male graduating seniors surveyed by The Crimson last spring reported a starting salary below $30,000.</p>
                <p>At the upper end, three percent of female freshman respondents and nine percent of male freshman respondents said they anticipate earning more than $110,000 immediately after graduation. In the Class of 2013, 2 percent of females and 8 percent of males reported a starting salary in that income bracket.</p>
            </li>
            <li id="sector-start-over-time-tab">
                <h2>Comparison of Anticipated Employment Field in 2017 and 2027</h2>
                <div id="sector-start-over-time" class="graph"></div>
                <p>Many surveyed freshmen said they expect their immediate post-graduate job to be different from their career 10 years down the line. For example, while just 6 percent of surveyed freshmen said they plan to work in the health field right after graduation, nearly a quarter of them said they anticipate doing so in 2027.</p>
            </li>
            <li id="sector-start-by-gender-tab">
                <h2>Anticipated Employment Field by Gender</h2>
                <div id="sector-start-by-gender" class="graph"></div>
                <p>Surveyed female freshmen are less likely than their male counterparts to see themselves in a career related to entrepreneurship or finance. They were more likely than freshmen men to envision themselves in a career in nonprofits and public service, health, and media or publishing.</p>
            </li>
            <li id="sector-start-by-school-type-tab">
                <h2>Anticipated Career by Secondary School Type</h2>
                <div id="sector-start-by-school-type" class="graph"></div>
                <p>Surveyed freshmen who attended public high school were more likely than their public counterparts to say they plan to pursue a long-term career in education. Private school students, on the other hand, disproportionately reported interest in careers in business, finance, and arts, sports, or entertainment.</p>
            </li>
        </ul>
    </div>

    <div id="TheCrimson_AllArticles_BTF_728x90" class="leaderboard ad">
        <script type='text/javascript'>
            if ($(window).width >= 728) {
                googletag.cmd.push(function() { googletag.display('TheCrimson_AllArticles_BTF_728x90'); });
            }
        </script>
    </div>
{% endblock %}
